.env 
node_modules
dist

# ignore contents of reports folder but keep the folder itself
/reports/*
!/reports/.gitkeep


# ignore contents of nuclei-templates folder but keep the folder itself
/src/features/nuclei/nuclei-templates/*
!/src/features/nuclei/nuclei-templates/.gitkeep
