---
import GitHubLogo from "@/components/icons/github-logo.astro";
import LinkedInLogo from "@/components/icons/linkedin-logo.astro";
---

<nav class="mx-auto mb-8 max-w-7xl justify-end px-6 xs:flex xs:pt-8">
  <div class="mx-auto flex w-72 max-w-xl items-center justify-end xs:mx-0 gap-2">
    <a
      href="https://github.com/redmor1"
      aria-label="Visit my GitHub profile"
      class="rounded-xl p-1 text-zinc-100 transition-colors duration-150 ease-out hover:bg-accent"
    >
      <GitHubLogo />
    </a>
    <a
      href="https://www.linkedin.com/in/matias-zarate-developer/"
      aria-label="Visit my LinkedIn profile"
      class="rounded-xl px-1.5 py-1 text-zinc-100 transition-colors duration-150 ease-out hover:bg-accent"
    >
      <LinkedInLogo />
    </a>
  </div>
</nav>
