@import "tailwindcss";
@import "@fontsource-variable/space-grotesk";

@theme {
  --breakpoint-xs: 480px;
  --font-display: "Space Grotesk Variable", "sans-serif";
  --font-body: "Space Grotesk Variable", "sans-serif";
  --color-accent: var(--color-orange-500);
  --animate-marquee-vertical: marquee-vertical 16s linear infinite;

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* button w/ cursor pointer */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer !important;
  }
  ::selection {
    @apply bg-accent text-white;
  }
  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-accent;
  }
}

@utility form-checkbox {
  appearance: none;

  width: --spacing(5);
  height: --spacing(5);

  border-radius: 0;
  border: 1px solid var(--color-stone-700);
  background-color: var(--color-stone-900);
  cursor: pointer;

  transition-property: all;
  transition-duration: var(--duration-200);

  &:checked {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='4' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 12.75l6 6 9-13.5'/%3E%3C/svg%3E");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }
}

@utility hitbox-extend {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    /* pulls the edges of the invisible ::after button outwards by 2 spacing units  */
    inset: calc(var(--spacing) * -2.2);
  }
}
